*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-size: arial, helvetica;
    color: antiquewhite;
    background-color: black;
}
header
{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 20px 60px;
}
.logo img
 {
    margin-right: 10px;
 }
 nav ul 
 {
    display: flex;
    list-style: none;
    gap: 30px;
 }
 nav ul li a
  {
    text-decoration: none;
    color: antiquewhite;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: green;
    transition: background-color 0.3s;
    display: inline-block;
    transition: o.2 ease;
  }
  nav ul li a:active 
{
   transform: translateY(-5px);
}
  .first
   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
   }
   .text h1
   {
     font-size: 50px;
     margin-bottom: 20px;
   }
   .text p
    {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .start 
    {
        text-decoration: none;
        background-color: green;
        color: antiquewhite;
        border: none;
        padding: 8px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3;
        display: inline-block;
        transition: o.2 ease;
    }
      .start:active 
{
   transform: translateY(-5px);
}
    .image img
     {
        width: 400px;
        height: auto;
     }
     .second 
     {
        text-align: center;
        padding: 50px;
     }
     .second h2 
     {
        font-size: 28px;
        margin-bottom: 40px;
     }
     .cards 
     {
        display: flex;
        justify-content: center;
        gap: 40px;
     }
     .card 
     {
        text-align: center;
     }
     .card img 
     {
        width: 220px;
        height: auto;
        border-radius: 10px;
     }
     .xplore 
     {
        margin-top: -20px;
        background-color: green;
        color: antiquewhite;
        border: none;
        padding: 8px 20px;
        border-radius: 20px;
        cursor: pointer;
        transition: background 0.3;
        text-decoration: none;
        display: inline-block;
        transition: o.2 ease;
     }
     .xplore:active
     {
       transform: translateY(-5px);
     }
     .card h3 
     {
      font-size: 20px;
      margin-top: 15px;
     }
     .card p 
     {
       font-size: 14px;
       color: antiquewhite;
     }
     h2 
     {
      text-align: center;
       margin-right: 90px;
     }
     #INDEX12.html
     .footer
     {
      padding: 40px 0 20px;
      margin-top: 60px;
      background-color: green;
     }
     .footer2 
     {
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
     }
     .footer3 
     {
      width: 30%;
      min-width: 200px;
      margin-bottom: 20px;
     }
     .foot 
     {
      font-size: 28px;
      font-weight: bold;
      color: goldenrod;
      letter-spacing: 2px;
     }
     .footer4 h3 
     {
      margin-bottom: 10px;
      font-size: 18px;
      color: black;
     }
     .footer4 p 
     {
      font-size: 14px;
      line-height: 1.6;
      color: antiquewhite;
     }
     .top 
     {
      text-align: center;
      margin-top: 20px;
     }
     .top a 
     {
      color: black;
      text-decoration: none;
      background-color: goldenrod;
      padding: 6px 12px;
      border-radius: 6px;
      font-weight: bold;
      transition: 0.3s;
       display: inline-block;
    transition: o.2 ease;
    }
      .top:active 
{
   transform: translateY(-5px);
}

